<div id="data-page">
    <h1>Combinations</h1>
    <div id="combinations-window">
        <div id="button-controls">
            <div id="command-bar">
                <button (click)="generateCombinations()">Generate Solutions</button>
                <div *ngIf="executionTime">Execution Time : {{executionTime}} ms</div>
            </div>
            <button (click)="getCombinations()">Display Combinations</button>
            <button (click)="deleteCombinations()">Delete Combinations</button>
            <h3>Search Combination :</h3>
            <div id="search-bar">
                <label for="value">Value</label>
                <input id="value" type="text" placeholder="example: 123456..." [(ngModel)]="combValue">
                <button (click)="getCombinationsContaining(combValue)">Filter</button>
            </div>
        </div>
        <div id="combinations-list">
            <table id="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Value</th>
                        <th>Valid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let combination of combinations$ | async">
                        <td>{{ combination.id}}</td>
                        <td>{{ combination.value }}</td>
                        <td>{{ combination.valid ? 'Yes' : 'No' }}</td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>