/* Styles pour l'en-tête */
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.header-title {
    font-family: "Seymour One", sans-serif;
    font-size: 40px;
    font-style: normal;
    color: #00677c;
  }

img {
    height: 50px;
    width: 50px;
    padding-right: 20px;
}

#double-z {
    color: black;
    font-size: 60px;
    margin-left: 10px;
}

#double-z img {
    margin: -15px;
}

span{
    color: #afd668;
}