<div id="puzzle-page">
    <div id="grid">
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">+</div>
        <div class="cell">13</div>
        <div class="cell">x</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">:</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">+</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">+</div>
        <div class="cell">12</div>
        <div class="cell">x</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">-</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">-</div>
        <div class="cell">11</div>
        <div class="cell">+</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">x</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">:</div>
        <input class="cell" type="number" min="1" max="9">
        <div class="cell">-</div>
        <div class="cell">10</div>
        <div class="cell">=</div>
        <div class="cell">66</div>
    </div>
    <div id="content">

    </div>
</div>
