#game-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width:760px) {
    #game-page > :first-child {
        margin-bottom: 20px;
    }
}