#grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    grid-template-areas: 
    "cell1 . cell13 cell14 cell15 . cell27"
    "cell2 . cell12 . cell16 . cell26"
    "cell3 . cell11 . cell17 . cell25"
    "cell4 . cell10 . cell18 . cell24"
    "cell5 . cell9 . cell19 . cell23"
    "cell6 cell7 cell8 . cell20 cell21 cell22";
    padding: 50px;

}

#grid input, #grid div {
    border-radius: 20px;
    border: 1px solid black;
}

#grid input {
    padding-left: 8px;
    width: 66px;
    height: 60px;
    background-color: white;   
}

#grid input:hover {
  background-color: #a6ff003c;
}
 
#grid div {
    background-color: #96e4f4d7;
    font-weight: 400;
}

.cell {
    border: solid 2px grey;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

@for $i from 1 through 27 {
    .cell:nth-child(#{$i}) {
        grid-area: cell#{$i};
    }
}

#handle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#handle button {
    margin: 0 5px 5px 5px;
    color: #c4f5e1;
    border-radius: 5px;
    border: none;
    align-items: center;
    max-width: 100px;
    background-color: #00677c;
    padding: 5px 10px;
    text-align: center;
    transition: all 0.3s;
    font-family: "Seymour One", sans-serif;
}

#handle button:hover {
    background-color: #afd668;
    color: #00677c;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#handle button:disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid grey;
}

#user-info {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 17px;
    color: #3B9EFF;
}

