#grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    grid-template-areas: 
    "cell1 . cell13 cell14 cell15 . cell27"
    "cell2 . cell12 . cell16 . cell26"
    "cell3 . cell11 . cell17 . cell25"
    "cell4 . cell10 . cell18 . cell24"
    "cell5 . cell9 . cell19 . cell23"
    "cell6 cell7 cell8 . cell20 cell21 cell22";
    padding: 50px;

}

#grid input {
    width: 66px;
    height: 60px;
    background-color: white;
}
 
#grid div {
    background-color: #a7fbff38;
    font-weight: 400;
}

.cell {
    border: solid 2px grey;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

@for $i from 1 through 27 {
    .cell:nth-child(#{$i}) {
        grid-area: cell#{$i};
    }
}

#handle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#handle button{
    background-color: #5B5BD6;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    width: 100px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#handle button:hover {
    background-color: #D6409F;
}

#handle button:disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
}

#user-info {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

